body
{
	background-color:black;
	overflow:hidden;
}


div.Header
{
	height:40px;
	width:100%;
	background-image:url('images/navbar.png');
	border-bottom:solid;
	border-top:solid;
	border-color:gray;

}
div.Container
{
	 height:668px;
	 width:980px;
	 margin-top:1%;
	 margin:auto;
	 border-width:1px;
	 border-color:white;
	 border-style:solid:
}


div.StatusScreen,div.GamePanel
{
	float:left;
	height:100%;
}


div.StatusScreen
{
	 width:648px;
	 margin-left:1%;
}
div.GamePanel
{
	 width:290px;
}
div.EnemyInfo,
div.EnemyExtras,
div.GameStatus,
div.PlayerInfo,
div.PlayerExtras
{
	 background-color:black;
	 float:left;
	 font-family:arial;
	 height:20%;
}

div.EnemyInfo,
div.EnemyExtras,
div.GameStatus,
div.PlayerInfo,
div.PlayerExtras,
div.SpellInfo,
div.SpellList,
img.SpellListIcon,
div.Options
{
	border-style:outset;
	border-radius:2%;
	border-width:1px;
	border-color:gray;
}

div.EnemyInfo,
div.PlayerInfo
{
	 width:220px;
}

div.EnemyStatus,
div.PlayerStatus
{
	 margin-left:1%;
	 background-color:black;
}

div.EnemyExtras,
div.PlayerExtras
{
	 width:410px;
	 background-image:url('images/extrasbk.png');
}

div.GameStatus
{
	 width:640px;
	 height:50%;
	 background-image:url('images/gameStatus.png');
}


div.SpellInfo,
div.SpellList,
div.Options
{
	 float:left;
	 background-color:black;
	 width:100%;
}

div.SpellInfo
{
     height:20%;
}

div.SpellList
{
	height:50%;
	background-image:url("images/sbk.png");
}

div.Options
{
	height:20%;
}

/*Player Content*/

img.EnemyDisplayPic,
img.PlayerDisplayPic
{
	float:left;
	height:84%;
	width:50%;
	background-color:silver;
	border-style:groove;
	border-color:gray;
	border-width:2px;
}

div.EnemyName,
div.PlayerName
{
	float:left;
	height:5%;
	width:100%;
	color:white;
	letter-spacing:2px;
	font-size:12px;
	text-align:center;
	background-color:black;
}


div.EnemyStatus,
div.PlayerStatus
{
	width:45%;
	height:85%;
	font-size:17px;
	letter-spacing:2px;
	float:left;
	font-family:calisto mt;
	border:none;
}


.headerText
{
	letter-spacing:3px;
	margin-left:15px;
	font-size:20px;
	color:yellow;
}

.miniText
{
	font-size:10px;
	color:white;
}
p.Life
{
	color:red;
	float:top;
}

p.Mana
{
	color:blue;
	float:top;
}

p.infoText
{
	color:white;
	font-family:cosmic cans ms;
	letter-spacing:2px;
	font-size:13px;
	display:inline;
	text-transform:capitalize;
	margin:auto;
}

p.gameStatusText
{
	margin-left:3%;
	margin-top:3%;
	color:white;
	font-style:italic;
}

p.extrasText
{
	font-family: cosmis csans ms;
	font-size:13px;
	margin-top:3%;
	margin-left:3%;
	color:#15F1B2;
	letter-spacing:3px;
}
img.SpellListIcon
{
	float:left;
    	width:70px;
	height:65px;
	opacity:0.9;
	border-style:solid;
	border-width:2px;
	border-color:black;
	display:inline;
	border-radius:10%;
	margin-top:2%;
	margin-left:2%;
}

div.SpellInfoMana
{
	float:left;
	color:orange;
	margin-left:2%;
}

div.SpellInfoContainer
{
	margin-top:3%;
	margin-left:3%;
	height:100%;
	width:100%;
}
			
div.SpellListIcons
{
    	float:top;
	height:90%;
	margin-top:5%;
	margin-bottom:5%;
	margin-left:5%;
	margin-right:5%;
	background-color:black;
	overflow:auto;

}




.gameButton
{
	text-align:center;
	color:#15F1B2;
	padding:2px;
	display:block;
	margin:25px;
	margin-left:27%;
	margin-right:27%;
	font-family:cosmis csans ms;
	font-weight:3px;
	border-style:groove;
	border-color:gray;
	background-color:black;
	cursor:default;
}


.gameButton:hover
{
	color:white;
}

.gameButton:active
{
	border-style:inset;
}


.lifePic
{
	width:20px;
	margin-top:16px;
	height:20px;
	float:left;
}
.manaPic
{
	width:20px;
	height:20px;
	float:left;
}


